/* background colors */
/* text colors */
/* border colors */
/* mixins */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  outline: none;
}

*::-moz-selection {
  background: #ffffff27;
}

*::selection {
  background: #ffffff27;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(#1a857e), to(#4ecdc4));
  background: linear-gradient(#1a857e, #4ecdc4);
  position: relative;
  height: 2700px;
}

body:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#4ecdc4), to(#1a857e));
  background: linear-gradient(#4ecdc4, #1a857e);
  -webkit-animation: bodyBgTop 5s infinite;
          animation: bodyBgTop 5s infinite;
  opacity: 1;
}

@-webkit-keyframes bodyBgTop {
  50% {
    opacity: 0;
  }
}

@keyframes bodyBgTop {
  50% {
    opacity: 0;
  }
}

.container section {
  width: 100vw;
  max-width: 100%;
  position: relative;
  z-index: 1000;
}

section.intro-wrapper {
  background-attachment: fixed;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  position: relative;
  height: 100vh;
}

section.intro-wrapper .intro {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-family: monospace;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  color: white;
  font-size: calc(30px + (40 - 38)*(40vw - 400px)/30);
  font-family: "Quicksand", sans-serif;
  letter-spacing: 2px;
  font-weight: lighter;
}

section.intro-wrapper .intro-video-bg {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  position: absolute;
}

section.intro-wrapper .intro-video-bg video {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

section.intro-wrapper .intro-video-bg .black-overlay {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  background: #0000007a;
  position: absolute;
  top: 0;
  left: 0;
}

section.intro-wrapper #intro-typing {
  position: relative;
  display: inline-block;
  height: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: lighter;
  color: white;
}

section.intro-wrapper #intro-typing:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  height: 100%;
  border: 1px solid white;
  border-radius: 100px;
  background: white;
  padding: 2px;
  -webkit-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
  -webkit-animation: cursorBlink 0.7s infinite;
          animation: cursorBlink 0.7s infinite;
  visibility: visible;
}

@-webkit-keyframes cursorBlink {
  50% {
    background: transparent;
  }
}

@keyframes cursorBlink {
  50% {
    background: transparent;
  }
}

section.intro-wrapper button {
  margin-top: 10vh;
  border: 3px solid white;
  width: 250px;
  height: 50px;
  background: transparent;
  color: white;
  font-size: 22px;
  position: relative;
  overflow: hidden;
  text-transform: uppercase;
  position: relative;
  z-index: 10000;
  cursor: pointer;
}

section.intro-wrapper button:after {
  content: "xx";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: -1;
  border-radius: 100%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

section.intro-wrapper button:hover:after {
  -webkit-transform: translateY(-80%);
          transform: translateY(-80%);
}

main {
  position: relative;
  z-index: 1;
}

main .sticky {
  position: fixed;
  z-index: 100000;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
  -webkit-transition: border 0.4s, background 0.4s, -webkit-transform 0.3s;
  transition: border 0.4s, background 0.4s, -webkit-transform 0.3s;
  transition: border 0.4s, background 0.4s, transform 0.3s;
  transition: border 0.4s, background 0.4s, transform 0.3s, -webkit-transform 0.3s;
  background: #00000091;
  -webkit-animation: visible 0.5s forwards;
          animation: visible 0.5s forwards;
}

@-webkit-keyframes visible {
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes visible {
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

main nav,
main .nonSticky {
  margin-bottom: 20px;
  border-bottom: 2px solid #db7070;
  background: #0000003f;
  -webkit-transition: border 0.4s, background 0.4s, 0.3s;
  transition: border 0.4s, background 0.4s, 0.3s;
  letter-spacing: 2px;
}

main nav ul,
main .nonSticky ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

main nav ul li,
main .nonSticky ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

main nav ul li a,
main .nonSticky ul li a {
  display: block;
  padding: 13px;
  text-decoration: none;
  color: white;
  position: relative;
  overflow: hidden;
  border-bottom: 4px solid transparent;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

main nav ul li:nth-child(1) a:hover,
main .nonSticky ul li:nth-child(1) a:hover {
  border-bottom: 4px solid #db7070;
}

main nav ul li:nth-child(1) a.active,
main .nonSticky ul li:nth-child(1) a.active {
  border-bottom: 4px solid #db7070;
}

main nav ul li:nth-child(2) a:hover,
main .nonSticky ul li:nth-child(2) a:hover {
  border-bottom: 4px solid #43c943;
}

main nav ul li:nth-child(2) a.active,
main .nonSticky ul li:nth-child(2) a.active {
  border-bottom: 4px solid #43c943;
}

main nav ul li:nth-child(3) a:hover,
main .nonSticky ul li:nth-child(3) a:hover {
  border-bottom: 4px solid #c48e48;
}

main nav ul li:nth-child(3) a.active,
main .nonSticky ul li:nth-child(3) a.active {
  border-bottom: 4px solid #c48e48;
}

main nav ul li:nth-child(4) a:hover,
main .nonSticky ul li:nth-child(4) a:hover {
  border-bottom: 4px solid #e96de3;
}

main nav ul li:nth-child(4) a.active,
main .nonSticky ul li:nth-child(4) a.active {
  border-bottom: 4px solid #e96de3;
}

main section.about {
  letter-spacing: 1px;
  line-height: 1.6em;
}

main section.about .card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.801);
}

main section.about .card {
  width: 250px;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  text-align: center;
}

main section.about .card div {
  margin: 5px;
}

main section.about .card .card-icon {
  width: 100px;
  height: 100px;
  background: #00000073;
  border-radius: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section.about .card .card-icon .fa {
  color: white;
  font-size: 50px;
  font-weight: lighter;
}

main section.about .card .card-title {
  border: 1px solid #d1d1d1;
  padding: 5px 10px 0 10px;
  border-bottom: 0px;
  position: relative;
  color: #00000094;
  border-radius: 10px 10px 0 0;
}

main section.about .card .card-title:after, main section.about .card .card-title:before {
  content: "";
  position: absolute;
  bottom: 0;
}

main section.about .card .card-title:before {
  left: 0;
  border-right: 1px solid #d1d1d1;
  border-bottom: 1px solid #d1d1d1;
  border-radius: 0 0 10px 0;
  width: 3em;
  height: 0.6em;
  -webkit-transform: translate(-100%, 0.6em);
          transform: translate(-100%, 0.6em);
}

main section.about .card .card-title:after {
  right: 0;
  border-left: 1px solid #d1d1d1;
  border-bottom: 1px solid #d1d1d1;
  border-radius: 0 0 0 10px;
  width: 3em;
  height: 0.6em;
  -webkit-transform: translate(100%, 0.6em);
          transform: translate(100%, 0.6em);
}

main section.about .about-me {
  text-align: center;
  margin-top: 5em;
  margin-bottom: 5em;
  line-height: 2em;
}

main section.about .about-me h1 {
  margin: 1em;
}

main section.about .languages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

main section.about .languages .bar-wrapper {
  width: 80%;
}

main section.about .languages .bar-wrapper .bar-main {
  margin: 20px 0 10px 0;
  background: #00000044;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2.4em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section.about .languages .bar-wrapper .bar-main .bar-title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background: #09615b;
}

main section.about .languages .bar-wrapper .bar-main .bar-value {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  text-align: right;
  position: relative;
  height: 100%;
}

main section.about .languages .bar-wrapper .bar-main .bar-value span {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 10px;
  font-weight: bolder;
  color: white;
}

main section.about .languages .bar-wrapper .bar-main .bar-value .bar-value-meter {
  position: absolute;
  height: 100%;
  width: 0%;
  background: #4ecdc5;
}

main section.about .languages .bar-wrapper .bar-main .bar-value .html-bar-value {
  -webkit-animation: seventyFive 1.4s 0s forwards ease-out;
          animation: seventyFive 1.4s 0s forwards ease-out;
}

@-webkit-keyframes seventyFive {
  100% {
    width: 75%;
  }
}

@keyframes seventyFive {
  100% {
    width: 75%;
  }
}

main section.about .languages .bar-wrapper .bar-main .bar-value .css-bar-value {
  -webkit-animation: seventy 1.4s 0.5s forwards ease-out;
          animation: seventy 1.4s 0.5s forwards ease-out;
}

@-webkit-keyframes seventy {
  100% {
    width: 70%;
  }
}

@keyframes seventy {
  100% {
    width: 70%;
  }
}

main section.about .languages .bar-wrapper .bar-main .bar-value .js-bar-value {
  -webkit-animation: fivefive 1.4s 1s forwards ease-out;
          animation: fivefive 1.4s 1s forwards ease-out;
}

@-webkit-keyframes fivefive {
  100% {
    width: 55%;
  }
}

@keyframes fivefive {
  100% {
    width: 55%;
  }
}

main section.about .languages .bar-wrapper .bar-main .bar-value .php-bar-value {
  -webkit-animation: twoFive 1.4s 1.5s forwards ease-out;
          animation: twoFive 1.4s 1.5s forwards ease-out;
}

@-webkit-keyframes twoFive {
  100% {
    width: 25%;
  }
}

@keyframes twoFive {
  100% {
    width: 25%;
  }
}

main section.about .languages .bar-wrapper .bar-main .bar-value .bootstrap-bar-value {
  -webkit-animation: fivefive 1.4s 2s forwards ease-out;
          animation: fivefive 1.4s 2s forwards ease-out;
}

@keyframes fivefive {
  100% {
    width: 55%;
  }
}

.sticky-nav-wrapper {
  padding-top: 5em;
}
/*# sourceMappingURL=style.css.map */