
/* background colors */
$background-color: white;
$bg-color-intro: transparent;

// $bg-color-intro: linear-gradient(-45deg,#000000, #494949);

/* text colors */
$text-color-1: black;
$text-color-intro: white;

/* border colors */
$border-color-1: black;
$button-border-1: white;


/* mixins */
//center
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

$font1: 'Open Sans Condensed',
sans-serif;
$font2: 'Quicksand',
sans-serif;
$font3: 'PT Sans Narrow',
sans-serif;
$font4: 'Vibes',
cursive;
$font5: 'Dancing Script',
cursive;
$font6: 'Rajdhani',
sans-serif;
$font7: 'Cinzel',
serif;

* {
  box-sizing: border-box;
  // font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  font-family: $font2;
  &::selection {
    background: #ffffff27;
  }

  outline: none;
}



body {
  background: linear-gradient(#1a857e, #4ecdc4);
  position: relative;
  height: 2700px;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(#4ecdc4, #1a857e);
    animation: bodyBgTop 5s infinite;
    opacity: 1;

    @keyframes bodyBgTop {
      50% {
        opacity: 0;
      }
    }
  }
}

//other 


.container {

  // overflow: hidden;
  section {
    width: 100vw;
    max-width: 100%;
    position: relative;
    z-index: 1000;
  }
}


section.intro-wrapper {
  background-attachment: fixed;
  background: $bg-color-intro;
  @include center();
  flex-flow: column;
  position: relative;
  height: 100vh;

  .intro {
    width: 100%;
    @include center();
    position: relative;
    font-family: monospace;
    flex-flow: column;
    color: white;
    font-size: calc(30px + (40 - 38)*(40vw - 400px)/30);
    font-family: $font2;
    letter-spacing: 2px;
    font-weight: lighter;
    // font-size: 20px;
  }

  .intro-video-bg {
    @mixin hundered {
      width: 100vw;
      height: 100vh;
      max-width: 100%;
    }

    @include hundered();
    position: absolute;

    video {
      @include hundered();
      object-fit: fill;
    }

    .black-overlay {
      @include hundered();
      background: #0000007a;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  #intro-typing {
    position: relative;
    display: inline-block;
    height: 1em;
    @include center();
    font-weight: lighter;
    color: $text-color-intro;

    &:after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      height: 100%;
      border: 1px solid $text-color-intro;
      border-radius: 100px;
      background: $text-color-intro;
      padding: 2px;
      transform: translate(100%, -50%);
      animation: cursorBlink 0.7s infinite;
      visibility: visible;

      @keyframes cursorBlink {
        50% {
          // border: 1px solid $bg-color-intro;
          background: $bg-color-intro;
        }
      }
    }
  }

  button {
    margin-top: 10vh;
    border: 3px solid $button-border-1;
    width: 250px;
    height: 50px;
    background: transparent;
    color: $text-color-intro;
    font-size: 22px;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
    position: relative;
    z-index: 10000;
    cursor: pointer;

    &:after {
      content: "xx";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: $background-color;
      z-index: -1;
      border-radius: 100%;
      transform: translateY(-100%);
      transition: 0.4s;
    }

    &:hover {
      &:after {
        transform: translateY(-80%);
      }

      // color: black;
    }
  }
}

main {
  position: relative;
  z-index: 1;

  .sticky {
    position: fixed;
    z-index: 100000;
    top: 0;
    left: 0;
    width: 100%;
    transform: translate(0, -100%);
    transition: border 0.4s, background 0.4s, transform 0.3s;
    background: #00000091;
    animation: visible 0.5s forwards;

    @keyframes visible {
      100% {
        transform: translate(0, 0);
      }
    }
  }

  nav,
  .nonSticky {
    margin-bottom: 20px;
    border-bottom: 2px solid #db7070;
    // border-bottom: 0px solid transparent;
    background: #0000003f;
    transition: border 0.4s, background 0.4s, 0.3s;
    letter-spacing: 2px;

    ul {
      display: flex;
      list-style-type: none;

      li {
        flex: 1;
        text-align: center;

        a {
          display: block;
          padding: 13px;
          text-decoration: none;
          color: $text-color-intro;
          position: relative;
          overflow: hidden;
          border-bottom: 4px solid transparent;
          transition: 0.4s;
        }

        &:nth-child(1) {
          a {
            &:hover {
              border-bottom: 4px solid #db7070;
            }
          }

          a.active {
            border-bottom: 4px solid #db7070;
          }
        }

        &:nth-child(2) {
          a {
            &:hover {
              border-bottom: 4px solid #43c943;
            }
          }

          a.active {
            border-bottom: 4px solid #43c943;
          }
        }

        &:nth-child(3) {
          a {
            &:hover {
              border-bottom: 4px solid #c48e48;
            }
          }

          a.active {
            border-bottom: 4px solid #c48e48;
          }
        }

        &:nth-child(4) {
          a {
            &:hover {
              border-bottom: 4px solid #e96de3;
            }
          }

          a.active {
            border-bottom: 4px solid #e96de3;
          }
        }
      }
    }
  }

  section.about {
    letter-spacing: 1px;
    line-height: 1.6em;
    .card-wrapper{
      // border: 1px solid black;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      color: rgba(255, 255, 255, 0.801);
    }
    .card {
      // border: 1px solid black;
      width: 250px;
      height: 250px;
      @include center();
      flex-flow: column;
      // justify-content: space-evenly;
      text-align: center;

      div {
        margin: 5px;
      }

      .card-icon {
        width: 100px;
        height: 100px;
        background: #00000073;
        border-radius: 100%;
        position: relative;
        @include center();

        .fa {
          color: #ffffffbe;
          font-size: 40px;
          font-weight: lighter;
          transition: font-size 0.2s, color 0.4s;
        }
        &:hover{
          .fa{
            font-size: 50px;
            color: #ffffff;
          }
        }
      }

      .card-title {
        $card-title-bordCol: #d1d1d1;
        border: 1px solid $card-title-bordCol;
        padding: 5px 10px 0 10px;
        border-bottom: 0px;
        position: relative;
        color: #00000094;
        border-radius: 10px 10px 0 0;
        cursor: pointer;

        &:after,
        &:before {
          content: "";
          position: absolute;
          bottom: 0;
        }
        &:before{
          left: 0;
          border-right: 1px solid $card-title-bordCol;
          border-bottom: 1px solid $card-title-bordCol;
          border-radius: 0 0 10px 0;
          width: 3em;
          height: 0.6em;
          transform: translate(-100%, 0.6em);
        }
        &:after{
          right: 0;
          border-left: 1px solid $card-title-bordCol;
          border-bottom: 1px solid $card-title-bordCol;
          border-radius: 0 0 0 10px;
          width: 3em;
          height: 0.6em;
          transform: translate(100%, 0.6em);
        }
      }
    }
    .card-about{
      padding-top: 1em;
    }

    .about-me{
      text-align: center;
      margin-top: 5em;
      margin-bottom: 5em;
      line-height: 2em;
      h1{
        margin: 1em;
      }
    }

    .languages{
      @include center();
      flex-flow: column;
      .bar-wrapper{
        width: 90%;
        // border: 1px solid black;

        .bar-main{
          margin: 20px 0 10px 0;
          background: #00000044;
          display: flex;
          height: 2.4em;
          align-items: center;
          .bar-title{
            flex: 1;
            height: 100%;
            @include center();
            color: white;
            background: #09615b;

          }
          .bar-value{
            flex: 5;
            text-align: right;
            position: relative;
            height: 100%;
            span{
              position: absolute;
              right: 0;
              top: 50%;
              transform: translateY(-50%);
              padding: 10px;
              font-weight: bolder;
              color: white;
            }
            .bar-value-meter{
              position: absolute;
              height: 100%;
              width: 0%;
              background: #4ecdc5;
            }
            .html-bar-value-animate{
              animation: sevenFive 1.4s 0s forwards ease-out;
              @keyframes sevenFive{
                100%{
                  width: 75%;
                }
              }
            }
            .css-bar-value-animate{
              animation: seventy 1.4s 0.5s forwards ease-out;
              @keyframes seventy{
                100%{
                  width: 70%;
                }
              }
            }
            .js-bar-value-animate{
              animation: fivefive 1.4s 1s forwards ease-out;
              @keyframes fivefive{
                100%{
                  width: 55%;
                }
              }
            }
            .php-bar-value-animate{
              animation: twoFive 1.4s 1.5s forwards ease-out;
              @keyframes twoFive{
                100%{
                  width: 25%;
                }
              }
            }
            .bootstrap-bar-value-animate{
              animation: fourfive 1.4s 2s forwards ease-out;
              @keyframes fourfive{
                100%{
                  width: 45%;
                }
              }
            }
          }
        }
      }
    }
  }
}

.sticky-nav-wrapper {
  padding-top: 5em;
}