.intro-wrapper span.button-hovered {
  color: white !important;
}

.intro-wrapper span.button-hovered:before {
  -webkit-animation: borderToRight 1s forwards ease-in;
          animation: borderToRight 1s forwards ease-in;
}

@-webkit-keyframes borderToRight {
  99% {
    width: 100%;
    border-right: 0px solid transparent;
    border-radius: 10px 10px 0 0;
  }
  100% {
    width: 100%;
    border-right: 3px solid #d1d1d1;
    border-radius: 10px 10px 0 0;
  }
}

@keyframes borderToRight {
  99% {
    width: 100%;
    border-right: 0px solid transparent;
    border-radius: 10px 10px 0 0;
  }
  100% {
    width: 100%;
    border-right: 3px solid #d1d1d1;
    border-radius: 10px 10px 0 0;
  }
}

.intro-wrapper span.button-hovered:after {
  -webkit-animation: borderToLeft 1s forwards;
          animation: borderToLeft 1s forwards;
}

@-webkit-keyframes borderToLeft {
  99% {
    width: 100%;
    border-left: 0px solid transparent;
    border-radius: 0 0 10px 10px;
  }
  100% {
    width: 100%;
    border-left: 3px solid #d1d1d1;
    border-radius: 0 0 10px 10px;
  }
}

@keyframes borderToLeft {
  99% {
    width: 100%;
    border-left: 0px solid transparent;
    border-radius: 0 0 10px 10px;
  }
  100% {
    width: 100%;
    border-left: 3px solid #d1d1d1;
    border-radius: 0 0 10px 10px;
  }
}

.bar-main {
  /*
  
  
  animation section
  
  
  */
}

.bar-main span {
  color: white !important;
}

@-webkit-keyframes intoView {
  60% {
    left: 50%;
  }
  100% {
    left: 0;
  }
}

@keyframes intoView {
  60% {
    left: 50%;
  }
  100% {
    left: 0;
  }
}

@-webkit-keyframes giveMeWidth {
  60% {
    width: 0;
    left: 70%;
  }
  100% {
    width: 80%;
    left: 20%;
  }
}

@keyframes giveMeWidth {
  60% {
    width: 0;
    left: 70%;
  }
  100% {
    width: 80%;
    left: 20%;
  }
}

@-webkit-keyframes shine {
  100% {
    left: 40px;
    -webkit-transform: translate(100%);
            transform: translate(100%);
  }
}

@keyframes shine {
  100% {
    left: 40px;
    -webkit-transform: translate(100%);
            transform: translate(100%);
  }
}

.bar-main .html-value-wrapper-animate .bar-title {
  -webkit-animation: intoView 1.4s ease-out forwards;
          animation: intoView 1.4s ease-out forwards;
}

.bar-main .html-value-wrapper-animate .bar-value {
  -webkit-animation: giveMeWidth 1.4s ease-out forwards;
          animation: giveMeWidth 1.4s ease-out forwards;
}

.bar-main .html-value-wrapper-animate .bar-value .bar-value-meter:before {
  -webkit-animation: shine 1s forwards;
          animation: shine 1s forwards;
}

.bar-main .html-value-wrapper-animate .bar-value .html-bar-value-animate {
  -webkit-animation: nineZero 1.4s 2.5s forwards ease-out;
          animation: nineZero 1.4s 2.5s forwards ease-out;
}

@-webkit-keyframes nineZero {
  100% {
    width: 90%;
  }
}

@keyframes nineZero {
  100% {
    width: 90%;
  }
}

.bar-main .css-value-wrapper-animate .bar-title {
  -webkit-animation: intoView 1.4s ease-out 0.3s forwards;
          animation: intoView 1.4s ease-out 0.3s forwards;
}

.bar-main .css-value-wrapper-animate .bar-value {
  -webkit-animation: giveMeWidth 1.4s ease-out 0.3s forwards;
          animation: giveMeWidth 1.4s ease-out 0.3s forwards;
}

.bar-main .css-value-wrapper-animate .bar-value .bar-value-meter:before {
  -webkit-animation: shine 1s forwards;
          animation: shine 1s forwards;
}

.bar-main .css-value-wrapper-animate .bar-value .css-bar-value-animate {
  -webkit-animation: eightZero 1.4s 2.7s forwards ease-out;
          animation: eightZero 1.4s 2.7s forwards ease-out;
}

@-webkit-keyframes eightZero {
  100% {
    width: 80%;
  }
}

@keyframes eightZero {
  100% {
    width: 80%;
  }
}

.bar-main .js-value-wrapper-animate .bar-title {
  -webkit-animation: intoView 1.4s ease-out 0.6s forwards;
          animation: intoView 1.4s ease-out 0.6s forwards;
}

.bar-main .js-value-wrapper-animate .bar-value {
  -webkit-animation: giveMeWidth 1.4s ease-out 0.6s forwards;
          animation: giveMeWidth 1.4s ease-out 0.6s forwards;
}

.bar-main .js-value-wrapper-animate .bar-value .bar-value-meter:before {
  -webkit-animation: shine 1s forwards;
          animation: shine 1s forwards;
}

.bar-main .js-value-wrapper-animate .bar-value .js-bar-value-animate {
  -webkit-animation: sixFive 1.4s 2.9s forwards ease-out;
          animation: sixFive 1.4s 2.9s forwards ease-out;
}

@-webkit-keyframes sixFive {
  100% {
    width: 65%;
  }
}

@keyframes sixFive {
  100% {
    width: 65%;
  }
}

.bar-main .php-value-wrapper-animate .bar-title {
  -webkit-animation: intoView 1.4s ease-out 0.9s forwards;
          animation: intoView 1.4s ease-out 0.9s forwards;
}

.bar-main .php-value-wrapper-animate .bar-value {
  -webkit-animation: giveMeWidth 1.4s ease-out 0.9s forwards;
          animation: giveMeWidth 1.4s ease-out 0.9s forwards;
}

.bar-main .php-value-wrapper-animate .bar-value .bar-value-meter:before {
  -webkit-animation: shine 1s forwards;
          animation: shine 1s forwards;
}

.bar-main .php-value-wrapper-animate .bar-value .php-bar-value-animate {
  -webkit-animation: twoFive 1.4s 3.1s forwards ease-out;
          animation: twoFive 1.4s 3.1s forwards ease-out;
}

@-webkit-keyframes twoFive {
  100% {
    width: 25%;
  }
}

@keyframes twoFive {
  100% {
    width: 25%;
  }
}

.bar-main .bootstrap-value-wrapper-animate .bar-title {
  -webkit-animation: intoView 1.4s ease-out 1.2s forwards;
          animation: intoView 1.4s ease-out 1.2s forwards;
}

.bar-main .bootstrap-value-wrapper-animate .bar-value {
  -webkit-animation: giveMeWidth 1.4s ease-out 1.2s forwards;
          animation: giveMeWidth 1.4s ease-out 1.2s forwards;
}

.bar-main .bootstrap-value-wrapper-animate .bar-value .bar-value-meter:before {
  -webkit-animation: shine 1s forwards;
          animation: shine 1s forwards;
}

.bar-main .bootstrap-value-wrapper-animate .bar-value .bootstrap-bar-value-animate {
  -webkit-animation: fourfive 1.4s 3.3s forwards ease-out;
          animation: fourfive 1.4s 3.3s forwards ease-out;
}

@-webkit-keyframes fourfive {
  100% {
    width: 45%;
  }
}

@keyframes fourfive {
  100% {
    width: 45%;
  }
}

.bar-main .jquery-value-wrapper-animate .bar-title {
  -webkit-animation: intoView 1.4s ease-out 1.5s forwards;
          animation: intoView 1.4s ease-out 1.5s forwards;
}

.bar-main .jquery-value-wrapper-animate .bar-value {
  -webkit-animation: giveMeWidth 1.4s ease-out 1.5s forwards;
          animation: giveMeWidth 1.4s ease-out 1.5s forwards;
}

.bar-main .jquery-value-wrapper-animate .bar-value .bar-value-meter:before {
  -webkit-animation: shine 1s forwards;
          animation: shine 1s forwards;
}

.bar-main .jquery-value-wrapper-animate .bar-value .jquery-bar-value-animate {
  -webkit-animation: towZero 1.4s 3.5s forwards ease-out;
          animation: towZero 1.4s 3.5s forwards ease-out;
}

@-webkit-keyframes towZero {
  100% {
    width: 30%;
  }
}

@keyframes towZero {
  100% {
    width: 30%;
  }
}

.bar-main .ui-value-wrapper-animate .bar-title {
  -webkit-animation: intoView 1.4s ease-out 1.7s forwards;
          animation: intoView 1.4s ease-out 1.7s forwards;
}

.bar-main .ui-value-wrapper-animate .bar-value {
  -webkit-animation: giveMeWidth 1.4s ease-out 1.7s forwards;
          animation: giveMeWidth 1.4s ease-out 1.7s forwards;
}

.bar-main .ui-value-wrapper-animate .bar-value .bar-value-meter:before {
  -webkit-animation: shine 1s forwards;
          animation: shine 1s forwards;
}

.bar-main .ui-value-wrapper-animate .bar-value .ui-bar-value-animate {
  -webkit-animation: fiveZero 1.4s 3.7s forwards ease-out;
          animation: fiveZero 1.4s 3.7s forwards ease-out;
}

@-webkit-keyframes fiveZero {
  100% {
    width: 50%;
  }
}

@keyframes fiveZero {
  100% {
    width: 50%;
  }
}

.bar-main .photoshop-value-wrapper-animate .bar-title {
  -webkit-animation: intoView 1.4s ease-out 1.9s forwards;
          animation: intoView 1.4s ease-out 1.9s forwards;
}

.bar-main .photoshop-value-wrapper-animate .bar-value {
  -webkit-animation: giveMeWidth 1.4s ease-out 1.9s forwards;
          animation: giveMeWidth 1.4s ease-out 1.9s forwards;
}

.bar-main .photoshop-value-wrapper-animate .bar-value .bar-value-meter:before {
  -webkit-animation: shine 1s forwards;
          animation: shine 1s forwards;
}

.bar-main .photoshop-value-wrapper-animate .bar-value .photoshop-bar-value-animate {
  -webkit-animation: fourZero 1.4s 3.9s forwards ease-out;
          animation: fourZero 1.4s 3.9s forwards ease-out;
}

@-webkit-keyframes fourZero {
  100% {
    width: 40%;
  }
}

@keyframes fourZero {
  100% {
    width: 40%;
  }
}

main section.contact .contact-wrapper .contact-title-animate {
  -webkit-animation: fontPop 1s forwards ease-in;
          animation: fontPop 1s forwards ease-in;
}

@-webkit-keyframes fontPop {
  0% {
    opacity: 0;
    font-size: 40%;
  }
  90% {
    opacity: 0.6;
    font-size: 200%;
  }
  100% {
    opacity: 1;
    font-size: 130%;
  }
}

@keyframes fontPop {
  0% {
    opacity: 0;
    font-size: 40%;
  }
  90% {
    opacity: 0.6;
    font-size: 200%;
  }
  100% {
    opacity: 1;
    font-size: 130%;
  }
}
/*# sourceMappingURL=animation.css.map */